mat-card {
  margin: 20px;
}

table {
  width: 100%;
  text-align: center;
}

table.mat-table {
  border-spacing: 0;
}

tr.mat-header-row {
  height: 56px;
  background-color: #3f51b5;
}

tr.mat-row,
tr.mat-footer-row {
  height: 48px;
}

tr.mat-row:nth-child(2n) {
	background-color: #EFEFEF;
}

th.mat-header-cell {
  text-align: center;
  color: white;
  font-size: large;
}

td.mat-cell {
  padding-top: 1.25em !important;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

th.mat-header-cell:first-child,
td.mat-cell:first-child,
td.mat-footer-cell:first-child {
  padding-left: 24px;
}

th.mat-header-cell:last-child,
td.mat-cell:last-child,
td.mat-footer-cell:last-child {
  padding-right: 24px;
}

td.mat-cell {
	font-size: medium;
}

mat-card-footer {
  padding: 10px;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

input[type=number]:hover::-webkit-inner-spin-button {  
  width: 14px;
  height: 30px;
}